.gantt_cal_cover {
    z-index: 999 !important;
}

.gantt_cal_light {
    z-index: 1000 !important;
}

.dhx_modal_cover {
    z-index: 999 !important;
}

.gantt_modal_box.dhtmlx_modal_box.gantt-alert.dhtmlx-alert {
    z-index: 1000 !important;
}

.gantt-cell-weekend {
    background-color: #9d9fe5;
    color: black !important;
}

.gantt-timeline-cell-weekend {
    background-color: #d4d3d3;
}
